In [63]:
import pandas as pd
df_jeo = pd.read_csv("jeopardy.csv")

In [64]:
df_jeo.head()

,Show Number,Air Date,Round,Category,Value,Question,Answer
0,4680,2004-12-31,Jeopardy!,HISTORY,$200,"For the last 8 years of his life, Galileo was ...",Copernicus
1,4680,2004-12-31,Jeopardy!,ESPN's TOP 10 ALL-TIME ATHLETES,$200,No. 2: 1912 Olympian; football star at Carlisl...,Jim Thorpe
2,4680,2004-12-31,Jeopardy!,EVERYBODY TALKS ABOUT IT...,$200,The city of Yuma in this state has a record av...,Arizona
3,4680,2004-12-31,Jeopardy!,THE COMPANY LINE,$200,"In 1963, live on ""The Art Linkletter Show"", th...",McDonald's
4,4680,2004-12-31,Jeopardy!,EPITAPHS & TRIBUTES,$200,"Signer of the Dec. of Indep., framer of the Co...",John Adams

In [65]:
df_jeo.columns

Index(['Show Number', ' Air Date', ' Round', ' Category', ' Value',
       ' Question', ' Answer'],
      dtype='object')

In [66]:
jeo.columns = df_jeo.columns.str.strip()

In [67]:
jeo.columns

Index(['Show Number', 'Air Date', 'Round', 'Category', 'Value', 'Question',
       'Answer'],
      dtype='object')

In [68]:
import re
def normalize(string):
    l_str = string.lower()
    cln_str = re.sub('[^A-Za-z0-9\s]', '', l_str)
    return string


clean_question = jeo["Question"].apply(normalize)
clean_answer = jeo["Answer"].apply(normalize)

In [69]:
clean_answer

0                                               Copernicus
1                                               Jim Thorpe
2                                                  Arizona
3                                               McDonald's
4                                               John Adams
5                                                  the ant
6                                           the Appian Way
7                                           Michael Jordan
8                                               Washington
9                                           Crate & Barrel
10                                          Jackie Gleason
11                                                 the cud
12                                   Ceylon (or Sri Lanka)
13                                               Jim Brown
14                                            the UV index
15                                                  Bulova
16                                             Jesse James
17                                                     imp
18                                       the International
19                                            (Lou) Gehrig
20                                                 Morocco
21                                           (Paul) Bonwit
22       Hattie McDaniel (for her role in Gone with the...
23                                                     era
24                                      the Congress Party
25                                      (Wilt) Chamberlain
26                                                      K2
27                                             Ethan Allen
28                                                     ply
29                                                  Horton
                               ...
19969                                        steam engines
19970                                            Petruchio
19971                                  Stanford University
19972                                          Emma Watson
19973                                                   Bo
19974                                   an antimatter bomb
19975                                         the Iroquois
19976                                             Pericles
19977                                               Tulane
19978                                      Kristen Stewart
19979                                                   fo
19980                                           a conclave
19981                                     open-door policy
19982                                               Quince
19983                                              Berklee
19984                                   Michelle Rodriguez
19985                                                   Ur
19986                                              Bernini
19987                                                 atom
19988                                  Houston (Lee Brown)
19989                                          Buddy Holly
19990                                         Leif Ericson
19991                                           Bill Gates
19992                                                 Wool
19993                                              Hostess
19994                                                   18
19995                                               Prince
19996                                              Galileo
19997                                      Monica Lewinsky
19998                                               Camels
Name: Answer, Length: 19999, dtype: object